body {
    min-width: 1200px;
    font-family: Montserrat, serif;
}

ul {
    margin: 0;
    padding: 0;
}

.section {
    background-image: url("../image/SectionsBackground/section-1.jpg");
    background-size: cover;
    background-position: center;
}

.navigation {
    display: flex;
    align-items: center;
    list-style: none;
    align-self: stretch;
}

.headerBackground {
    background-color: rgba(0, 0, 0, 0.5);
}

.navigation li {
    display: flex;
    align-self: stretch;
    align-items: center;
    position: relative;
}

.navigation li::after {
    display: none;
    content: '';
    height: 2px;
    width: 100%;
    background: #18cfab;
    position: absolute;
    bottom: -2px;
}

.navigation li:hover::after {
    display: block;
}

.navigation a {
    text-decoration: none;
    text-transform: uppercase;
    color: #a5a5a4;
    padding: 15px;
    font-size: 13px;
}

.navigation a:hover {
    color: #20c9a7;
}

.container {
    width: 1160px;
    margin: auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav p {
    padding-left: 5px;
    font-size: 32px;
    color: #ffff;
}

.fas {
    color: #bbbbbb;
    font-size: 20px;
    cursor: pointer;
}

.nav a {
    text-decoration: none;
}

.nav span {
    color: #18cfab;
}

.logo {
    display: flex;
    align-items: center;
}

.section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.text {
    font-size: 35px;
    text-transform: uppercase;
    color: #ffff;
}

.text span {
    color: #18cfab;
}

.text1 {
    font-size: 79px;
    text-transform: uppercase;
    color: #ffff;
    margin: 40px;
}

.text2 {
    font-size: 34px;
    color: #d4d4d4;
}

.decor {
    font-size: 13px;
    border-radius: 4px;
    border: none;
    border-top: 4px solid #ffff;
    padding: 25px 42px;
    text-transform: uppercase;
    color: #ffff;
    cursor: pointer;
    margin: 120px 14px;
    background-color: #18cfab;
}

button:hover {
    transform: scale(1.1);
    transition: .5s;
}

.btnExp {
    background-color: #18cfab;
}

.btnPur {
    background-color: #00cbf6;
}

.headerHeight {
    height: 1010px;
}

.flex {
    display: flex;
}

.aside {
    flex: 1;
    height: auto;
    border-top: 8px solid #1c2a33;
    background-color: #18cfab;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    min-height: 280px;
}

.aside_wrap {
    margin: auto;
    text-align: center;
}

.aside:nth-child(odd) {
    border-top: 8px solid #18cfab;
    background-color: #1c2a33;
}

.aside span {
    display: block;
    font-size: 20px;
    text-transform: uppercase;
    color: #1c2a33;
}

.aside:nth-child(odd) span {
    font-size: 20px;
    text-transform: uppercase;
    color: #ffff;
}

.navBox {
    display: flex;
    flex-basis: auto;
}

.icon {
    background-image: url("../image/spritesheet.png");
    width: 110px;
    height: 105px;
    display: inline-block;

}

.icon-hand {
    background-position: 13px -5px;
}

.icon-diamond {
    background-position: -4px -116px;
}

.icon-lamp {
    background-position: 14px 216px;
}

.icon-device {
    background-position: -7px 106px;
}

.text-title-line {
    display: inline-block;
    width: 76px;
    height: 2px;
    background-color: #18cfab;
    position: absolute;
    bottom: 0;
    left: 46%;
}

.text-title-line:last-child {
    left: 48%;
    bottom: -4px;
}

.text-title div {
    padding-top: 90px;
    text-align: center;
}

.services-title {
    text-align: center;
    font-size: 36px;
    position: relative;
    padding-bottom: 14px;
}

.nav-services li, a {
    text-decoration: none;
    list-style: none;
    color: #838484;
    text-align: center;
}

.nav-services li {
    border: 1px solid #d0d0d0;
    display: inline-block;
    padding: 25px;
    font-size: 16px;
    flex: 1;
}

.nav-services li.selected {
    background-color: #18cfab;
    color: #FFFFFF;
    position: relative;
}

.nav-services li.selected::after {
    display: block;
    content: '';
    border: 10px solid;
    border-color: #18cfab transparent transparent transparent;
    position: absolute;
    bottom: -19px;
    left: 50%;
    transform: translateX(-50%);
}

.nav-services li.selected a {
    color: #ffff;
}

.nav-services li:hover {
    background-color: #18cfab;
    color: #fff;
    border-color: transparent;
}

.nav-services li:hover a {
    color: #ffff;
}

.grid.img-box {
    display: none;
}

.grid.img-box.selected {
    display: flex;
}

.nav-services {
    display: flex;
    flex-basis: auto;
    padding: 70px 0 30px;
}

.text-description {
    margin-left: 20px;
    display: inline-block;
}

.section3 {
    background-color: rgba(0, 0, 0, .5);
    background-image: url("../image/SectionsBackground/section-2.jpg");
    margin-top: 100px;
    height: 475px;
    background-size: cover;
    background-position: center;
    position: relative;

}

.paralax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.darkBG {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
}

.text-install {
    text-transform: uppercase;
    font-size: 40px;
    color: #18cfab;
    padding-top: 80px;
}

.blok-text-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    z-index: 1;
    position: relative;
}

.services-blok {
    display: none;
}

.services-blok.selected {
    display: inline-flex;
}

.text-portfolio {
    color: #ffff;
    padding-top: 30px;
}

.nav-services2 {
    display: flex;
    flex-basis: auto;
    padding: 70px 0 70px;
}

.nav-services2 li {
    border: 1px solid #d0d0d0;
    display: inline-block;
    flex: 1;
}

.nav-services2 a {
    text-decoration: none;
    list-style: none;
    color: #838484;
    padding: 25px;
}

.nav-services2 li::after {
    display: none;
    content: '';
    height: 2px;
    width: 100%;
    background: #18cfab;
    position: absolute;
    top: -2px;
    left: 0;
}

.nav-services2 li:hover::after {
    display: block;
}

.nav-services2 li {
    display: flex;
    align-self: stretch;
    align-items: center;
    position: relative;
    justify-content: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.flex-amazing {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.btn-load {
    display: flex;
    margin: auto;
    font-size: 14px;
    border-radius: 4px;
    border: none;
    padding: 25px 42px;
    text-transform: uppercase;
    color: #ffff;
    cursor: pointer;
    background-color: #18cfab;
    align-items: center;
    margin-top: 70px;
}

.fa-plus {
    color: #ffff;
    padding-right: 10px;
    vertical-align: center;

}

.new-post {
    position: relative;
}

.box-date {
    position: absolute;
    width: 66px;
    height: 66px;
    background-color: #203e38;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffff;
    top: 1px;
    left: 198px;
}

.news {
    padding: 70px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-box {
    margin-bottom: 45px;
}

.flex-box:hover .box-date {
    background-color: #18cfab;
}

.flex-box:hover .post-title {
    color: #18cfab;
}

.post-content {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.post-title {
    font-size: 18px;
}

.post-text {
    font-size: 14px;
    padding-bottom: 3px;
}

.section4 {
    background-image: url("../image/SectionsBackground/section-3.jpg");
    background-size: cover;
    background-position: center;
    height: 855px;
}

.text-header {
    color: #FFFFFF;
}

.commas {
    text-align: center;
    margin: 70px 0;
}

.text-header2 {
    text-align: center;
    color: #868b8d;
    display: block;
}

.footer {
    display: flex;
    margin-top: 85px;
    font-size: 14px;
    height: 108px;
    background-color: #22353f;
    justify-content: center;
    align-items: center;
    color: #999b9c;
}

.footer span {
    color: #18cfab;
}

.allImagesHiddenBox {
    display: none;
}

.allImagesHiddenBoxLoad {
    display: none;
}

.flex-galirea {
    display: flex;
    flex-direction: column;
    padding-top: 6px;
}

.flex-galirea2 {
    padding: 6px;
    margin-bottom: 67px;
}

.flex-post {
    padding-top: 75px;
    display: flex;
    justify-content: center;
}

.flex-galirea3 {
    padding-top: 6px;
}

.fa-angle-left, .fa-angle-right {
    border: 1px solid #ffff;
    padding: 5px 10px;
    margin: 15px;
    transition: .5s;
}

.fa-angle-right:hover {
    background-color: #18cfab;
    color: #ffff;
    border: 1px solid transparent;

}

.fa-angle-left:hover {
    background-color: #18cfab;
    color: #ffff;
    border: 1px solid transparent;
}
.preloader {
    display: none;
}
.ava img {
    cursor: pointer;
}
.ava {
    position: relative;
    transition: all 0.3s ease;
    width: 60px;
    margin: 0 16px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 5px 9px rgba(24, 201, 171, 0.4);
}
.ava.active {
    top: -15px;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px
}

.first-anim {
    display: flex;
    justify-content: center;
}

.first-anim img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 0 0 5px 9px rgba(24, 201, 171, 0.4);
}

.info-user {
    text-align: center;
    margin: 25px;
}

.name {
    color: #18cfab;
}

.specialty {
    color: #ffff;
    font-size: 13px;
}

.box-user-item {
    display: none;
}

.box-user-item.active {
    display: block;
}

.preloader img {
    margin: 45px;
    width: 175px;


}

.preloader {
    text-align: center;
}